body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html{
  padding: 0px; 
}
.container {
  margin: 50px;
}

button {
  cursor: pointer;
}

#adminZone button {
  margin-bottom: 25px;
}

#comparePasswords{
  color: red;
}



a {
  color: #00B7FF;
}

#newMember {
  color: white;
  float: right;
  background: #2f3640;
 margin: 0 20px 20px 0;
 border: none;
 border-radius: 30px;
 width: 150px;
 height: 29px;
 outline: none;
}

.search-box {
  float: left;
  background: #2f3640;
  width: 195px;
  height: 15px;
  border-radius: 30px;
  padding: 7px;
  margin: 0;
}

#search-btn {
  color: white;
  float: right;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:  #2f3640;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 15px;
  transition: 0.4s;
  line-height: 15px;
}

.hidden {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  cursor: default;
  background-color: #00aeef;
  color: white;
}

tr:nth-child(even){background-color: turquoise}

tr:nth-child(odd){background-color: #f2f2f2 }


tbody tr:hover {
  cursor: pointer;
  transform: scaleY(1);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  transition-duration: 0.1s;
}


/*
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  padding-left: 15px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* modal section */

.sec-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.modalInputs{
  display: flex;
  justify-content:space-between;
}
.modalBox{
  color: black;
 background: #7af4fd;
 margin: 0 20px 20px 0;
 border: none;
 border-radius: 30px;
 width: 150px;
 height: 29px;
 outline: none;
 padding-left: 10px;
}
#submitBtn {
 color: white;
 background: #2f3640;
 margin: 0 20px 20px 0;
 border: none;
 border-radius: 30px;
 width: 150px;
 height: 29px;
 outline: none;
}

.close {
  float: right;
  top: 0;
  right: 15px;
  font-size: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}

.edit {
  color: black;
}

.page-wrap {    
    display: flex;             
   }

.main-content {
    width: 70%;
    flex: 1;
  }
#main-sidebar {   
  position: relative;     
    width: 500px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    margin: 5px;                  
  }

  #main-sidebar h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  #member-foto {
    display: inline-block;
  }

  #member-foto div {
    width: 150px;
    height: 150px;
    border: 2px solid red;
  }
  
  #member-details {
    float: right;
    border:2px solid grey;
  }

#delEdit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}  